.dropdown-toggle {
	align-content: center;

}

.Upload-Form {
	display: flex;
	flex-direction: row;

}

.dropdown-Form {
	padding-left: 0px;
	width: 35px;
}

.dropdown-Form .dropdown-menu {
	margin-top: 0;
	margin-right: 400px;
}

.menu-drop {
	margin-left: -60px;
	margin-top: 40px;
	padding: 11px;

}