
.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#con {
  border-radius: 15px;
  width: 360;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Apply shadow all around the container */

}

  .text-center {
    font-size: large;
  }
.link{
  text-decoration: none;
  color: green;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  
}
.forget{
  font-size:larger;
}
