/* styles/forgetPassword.css */

/* Apply Montserrat font to the entire form */
.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* Apply Arial font to the container */
#con {
  border-radius: 15px;
  width: 360px; /* Ensure to include unit (px) */
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Apply shadow all around the container */
  margin-bottom: 250px; 
  background-color: #ffffff;  
  padding: 20px;
}
.container

/* Style the text center */
.text-center {
  font-size: large;
}

.link {
  text-decoration: none;
  color: green;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.link:hover{
  text-decoration: underline;
}

.forget {
  font-size: larger;
}

/* Prevent scrolling */
html, body {
  height: 100%;
  overflow: hidden;
}
