.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#con {
  border-radius: 15px;
  width: 360px; 
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
  margin-bottom: 250px; 
  background-color: #ffffff;  
  padding: 20px;
}
.container

.text-center {
  font-size: large;
}

.link {
  text-decoration: none;
  color: green;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.link:hover{
  text-decoration: underline;
}

.forget {
  font-size: larger;
}

html, body {
  height: 100%;
  overflow: hidden;
}