.guide {
    max-width: 1300px;
    max-height: calc(100vh - 69px);
    height: auto;
    overflow-y: auto;
    margin-bottom: 10vh;
    margin-top: 69px;
    position: relative;
    padding: 20px;
}
.guide-button{
    background-color:#800020 !important;

}
.guide-button:hover{
    background-color:#800020 !important;
  }

  
.close-guide {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;
    font-size: 15px;
    z-index: 20;
}

.guide-content {
    max-height: 70vh;
    padding-right: 10px;
    overflow-y: auto;
}

h3 {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 5px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.header-buttons {
    position: absolute;
    top: 20px;
    right: 75px;
    display: flex;
    align-items: center;
    z-index: 30; 
}

.header-buttons button {
    background-color: #299689;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover {
    background-color: #1a635a;
}
