

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: rgb(243, 240, 240);

}

.con {
  width: 360px;
  height: 420px;
  font-family: 'Roboto', sans-serif;
   border-radius: 15px;
}

@media (max-width: 576px) {
  .con {
    width: 90%;
    margin: auto;
  }
}
.form-control {
  border: 2px solid #333; 
  border-radius: 0.25rem; 
}

.text-left a {
  text-decoration: none;
  color: black;
  font-weight:600;
}


.display-6 {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.signup {
  padding-top: 25px;
  font-size: medium;
  font-family: 'Roboto', sans-serif;}
.signup a{
  text-decoration: none;
  color: green;
  font-family: 'Roboto', sans-serif;
}


.btn-success{

   width: 250px;
}
p{
  text-align: center;
  font-size:smaller;
  color: gray;
}
.btn-container{
  padding-top: 3px;
}

.text-right{
  font-weight: 500;

  
}

