.form {
  display: flex;
  flex-direction: column;
  font-family: 'system-ui', sans-serif;
  /* position: ; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: white; */
  /* padding: 2em; */
  z-index: 1;
}
body{
  background-color: #f6f8fc;

}

.form-control {
  border: 2px solid #333; 
  border-radius: 0.25rem; 
  margin-top: 0px;
  width:96%;

}

.con {
  width: 400px;
  height: 400px;
  font-family: 'system-ui', sans-serif;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: -6rem; /* Adjust this value to move the container downwards */
  z-index: 0;
}

@media (max-width: 576px) {
  .con {
    width: 90%;
    margin: auto;
    margin-top: 50px; /* Adjust this value for smaller screens */
  }
}


.form-control {
  border: 2px solid #333; 
  /* border-radius: 5px;  */
  margin-top: 0px;
}
.MuiInputBase-root{
  border-radius: 0.5rem !important;
}
.text-left a {
  text-decoration: none;
  color: rgb(8, 8, 8);
}

.forgot-password-link{
  font-weight: 550;
}

.forgot-password-link:hover {
  text-decoration: underline;
}


.display-6 {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: 'system-ui', sans-serif;
}

.signup {
  padding-top: 25px;
  font-weight: lighter;
  font-family: 'system-ui', sans-serif;
  font-size: 14px;
}
.signup a{
  text-decoration: none;
  color: #31b099;
  font-family: 'system-ui', sans-serif;
}


.login{
   background-color:  #299689;
   width: 350px;
   border: #31b099;
   margin-left: -3px;

}

.login:hover {
  background-color: #1d7d72;
}

p{
  text-align: center;
  font-size:smaller;
  color: gray;
}

.error {
  border-color: red !important;
}

.text-right{
  font-weight: 500;

  
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
}

.loginContainer{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2632;
  z-index: -2;
}

.curve{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: #F5F5F5;
  clip-path: ellipse(75% 100% at center bottom);
  z-index: -1;
}
.bcp-logo{ 
  /* position: absolute; */
  /* top:0; */
  /* left:1; */
  /* display: flex;
  flex-direction: row;
  align-items: start;
  justify-container: start; */
  width: 80px;
  height: 50px;
  /* padding: 1rem !important; */
  /* padding-left:1rem; */
  background-size: cover; /*Ensure the background image covers the entire area*/
  background-position: center; /* Center the background image */
  background-image: url('../../public/images/bcp2.png'); 
  -webkit-filter: grayscale(100%) brightness(9);
  filter: grayscale(100%) brightness(9);
}
