.customDropdown .dropdown-menu {
    min-width: auto; /* Resetting minimum width */
    white-space: nowrap; /* Preventing line breaks */
  }
  
  .username-container {
    display: flex;
    align-items: center; /* Align icon and text vertically */
  }
  
 
  

  .dropdown-list{
display: flex;

  }

  .Menu{
  }
  .dropdown{
 max-width: 200px;
  }

  .username-container{
    color: #007bff;
  }
  .username-container,
  .customDropdown {
    cursor: pointer;
    display: flex;
    align-items: center;

  }

  .username {
    margin-right: 10px;
    margin-left: 10px;
  }

  .dropdown {
    padding-left: 100px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }


 