

/* Add the following CSS to your existing stylesheet */

/* Ensure the table fills its container */
.table {
  width: 100%;
}

/* Set a fixed height for the table container */
.table-container {
  height: 500px;
  overflow: auto; /* Enable scrolling if content exceeds container height */
}

/* Apply responsive styles for smaller screens */
@media (max-width: 768px) {
  /* Enable horizontal scrolling for smaller screens */
  .table {
    overflow-x: auto;

  }
}

.action-buttons {
  position: sticky;
  top: 0;
  background-color: white; /* Ensure visibility over the table */
  z-index: 2; /* Ensure it's above the table */
}

@media (max-width: 768px) {
  /* Adjust the width of the table */
  .table {
    width: 100%;
  }
  
  /* Enable horizontal scrolling for smaller screens */
  .table-container {
    overflow-x: auto;
  }
}

.editSave {
  display: flex;
  justify-content: space-around;
  height: 32px;
  padding-top: 10px;
  padding-left: 16px;
}


.action-buttons {
  position: sticky;
  top: 0;
  background-color: white; /* Ensure visibility over the table */
  z-index: 2; /* Ensure it's above the table */
      background: none;
}


.element {
  width: 1000px;

}
table{
  box-sizing:content-box;

}
/* UserPop.css */
/* 
.Org-pop-container *,
.Org-pop-container ::after,
.Org-pop-container ::before {
  box-sizing: content-box;
} */





.OrgIn{
  /* margin-top: 3px; */
  border: none;
  width: 170px;
  padding: 2px;
  border-radius: 4px;
}

.OrgHead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}
td{
  margin-top:6px;
}
.table td {
  padding: 0px;
  text-align: center;
  height: 0px;
  font-size: small;
  padding-left: 0px;
  padding-top: 7px;
  margin-top: 6px;;
}

.action-width{
  min-width: 100px;

}

.table-container th {
  border: none;
  padding: 8px;
}

.editSave {
  display: flex;
  justify-content: space-around;
  height: 32px;
  padding-top: 0px;
  /* padding-left: 16px; */
  height: 30px;
}

