.popup-container {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  .reset {
    border: none;
    background-color: white;
    padding-right: 20px;
  }
  
  .invite {
    border: none;
    background-color: white;
    padding-right: 50px;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    /* z-index: 9999; */
  }
  
  .popup-inner {
      /* position: relative; */
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    width: 100%; /* Set the width as desired */
    /* max-width: 1000px; */
  }
  
  .dropdown-item-hover:hover {
    background-color: #d6d6d6; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor to indicate interaction */
  }
  
  
.Orgainsation{
  background-color: aqua;
  padding-left: 100px;
}

.reset, .invite {
  padding-right: 10px;
}

.popup-inner {
  width: 90%; /* Adjust the width for smaller screens */
  max-width: none; /* Remove max-width for smaller screens */
}

  @media (max-width: 768px) {
    .reset, .invite {
      padding-right: 10px;
    }
  
    .popup-inner {
      width: 90%; /* Adjust the width for smalle
      
      r screens */
      max-width: none; /* Remove max-width for smaller screens */
    }
  }

  .cancel-symbol {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: #dfdddd;
  }
button{
  border: none;
  background-color: white;
}
.organization{
  text-align: start;
  margin-left: 5px;
}
.admin{
  text-align: start;
  margin-left: 5px;
}





