
.input-field {
  border: 1px solid #312d2d;
  /* transition: border-color 0.3s ease-in-out; */
}

.input-field:focus {

  border-color: transparent; /* Set border color to transparent */
}
.input-field:hover{
  border-color: transparent; /* Set border color to transparent */

}

.submit{
  min-width: 350px;
}



.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  
}

.container {
  font-family: 'Roboto', sans-serif;
  width: 400px;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}





.signup{
  font-size: 1.75rem; 
  font-size:larger;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}





@media (max-width: 576px) {
  .container {
    width: 70%;
    margin: auto;
  }
  .submit{
    min-width: 250px;
  }
}

@media (max-width: 370px) {
  .submit {
    min-width: 100px; /* Adjusted width for screens up to 576px */
  }
}

@media (max-width: 150px) {
  .submit {
    min-width: 40px; /* Adjusted width for screens up to 576px */
  }
}