  /* resetPassword.css */

  .form {
    min-height: 100vh;
  }

  .con {
    width: 80%;
    max-width: 400px;
    margin-top: 6rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  @media (max-width: 576px) {
    .con {
      width: 90%;
      padding: 1.5rem;
    }
  }
/* styles/resetPassword.css */

/* Style the link to remove underline */
.link-to-login {
  text-decoration: none;
  color: green;
  font-size: 14px;
}


