  /* resetPassword.css */

  .form {
    min-height: 100vh;

    border-radius: 15px;
  }
  .display-6 {
    font-size: 1.75rem;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
  }
  .con {
    width: 80%;
    max-width: 400px;
    margin-top: 6rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;

  }
  .resetpass-container{
    font-family: 'Roboto', sans-serif;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 768px) {
    .resetpass-container {
        max-width: 500px;
        margin-bottom: 170px !important;
    }
}
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
    }

    .reset-container {
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
  }
  .header-container {
    position: relative;
    width: 100%;
    /* background: linear-gradient(to right, #406a61, #3b746e, #2d766d) !important; */
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ede5e5;
    background-color: #fdfdfd;
  }

  .reset-text{
    --bs-text-opacity: 1;
    color: rgb(0 0 0) !important;
    margin-top: 10px;
  }
  /* Responsive breakpoints */
  @media (min-width: 576px) {
    .reset-container {
      max-width: 540px;
    }
  }
  @media (max-width: 576px) {
    .con {
      width: 90%;
      padding: 1.5rem;
    }
  }

  .close-icon {
    /* position:static; */
    /* top: 0; */
    /* right: 0; */
    /* margin-left: 27rem; */
    /* margin-bottom: 1rem; */
    position: absolute;
    top: 36%;
    right: 21px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .btn {
    font-size: 14px;
    border-radius: 8px !important;
    cursor: pointer;
}

.btn-success {
    width: 100%;
    background-color: #299689 !important;

}

/* .reset-btn{
  background: linear-gradient(to right, #2a433e, #467761, #2a433e) !important;
  width: 100%;
} */

.btn-success:hover{
  background-color: #299689 !important;
}
/* styles/resetPassword.css */

/* Style the link to remove underline */