.btn-success {
  width: 100%; /* Initially occupy full width */
  margin-left: 0; /* Remove the initial margin */

}
.send-header-container{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ede5e5;
  background-color: #fdfdfd;
  /* background: linear-gradient(to right, #406a61, #3b746e, #2d766d) !important; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.invite-text {
  --bs-text-opacity: 1;
  color: rgb(0 0 0) !important;
}

.invite-btn{
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
  background: linear-gradient(to right, #368374, #56856f, #3e8376) !important;
}

.invite-error{
  padding: 10px;
  margin-left: 10px;
}

#role-select:focus,
#organization-select:focus {

  padding-bottom: 0px;
  background-color: aquamarine;
  margin: 0;
  margin-left:1px;
  padding: 0%;

}
.close-SendInvite {
  position:static;
  top: 0;
  right: 0;
  margin-left: 27rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.submit {
  background-color: #299689 ;
}
.submit:hover {
  background-color: #227d72 ;
}
@media (min-width: 768px) {
  .container {
    max-width: 500px;
    margin-bottom: 250px; /* Set maximum width for the container */
  }

  .btn-success {
    width: 100%; /* Set button width to a percentage of the container width */

  }
}


