.customSnackbar {
    background-color: transparent !important;
  }
  
  .customSnackbar .MuiSnackbarContent-root {
    background-color: #D16E6E !important; 
    color: rgb(253, 253, 253) !important; 
    width:1000px;
  }

.MuiSnackbarContent-action {
    justify-content: flex-start;
  }
  
  .MuiSnackbarContent-action .MuiIconButton-root {
    margin-right: auto;
  }
  
  /* Adjust close button width */
  .MuiSnackbarContent-action .MuiIconButton-root {
    width: 32px;
    color: rgb(255, 255, 255);
  }
  
  