

.MuiSnackbarContent-action {
  justify-content: flex-start;
}

.MuiSnackbarContent-action .MuiIconButton-root {
  margin-right: auto;
  width: 32px; 
  color: inherit; 
}

  .customSnackbar .MuiSnackbarContent-root {

  width:1000px;

}