.mt-10{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
.grid {
    width:100vh;
    font-size: small;
    padding-left: 20px;
   border: none;
   border-radius: 10px;
   top: 0%;
   
}
 .grid tr th{
    width: 190px;
 }

.table-container{
    height: 500px;

}

  
.deactivated-row:hover {
    background: inherit;
    background-color:inherit;
    cursor: not-allowed !important;
    }
  


    tr.deactivated-row td {
        opacity: 0.5;
        background: #9d9999;
        
    }
  
    .User{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 23px;
        
    }
    
    .Usersearch{
      border-radius: 5px;
      height: 35px;

    }


    .success-message{
        color: green;
        text-align: center;
    }


.grid {
    border-collapse: collapse;
    width: 100%;
  }
  

  
  .Render-Row1 {
    max-width: 100%;
  }
 
 
  @media (max-width: 768px) {
    .grid {
      /* width: 100%; */
      overflow-x: auto; 
    }
  }
  
  tr.deactivated-row td {
    opacity: 0.5;
    background: #9d9999;
  }
  

  .success-message {
    color: green;
    text-align: center;
  }
  
  .sticky-header th {
    position: sticky;
    top: -1px;
    background-color: #ffffff;
    z-index: 1;
}

.table-container {
    /* box-shadow:none; */
    border-radius: 8px;
    margin-top: 20px;
    padding: 0;

}
td, th {
    padding: 8px;
  }
  
  .Role{
    width: 100px;
  }



  .action-buttons {
    position: sticky;
    top: 0;
    background-color:unset; /* Ensure visibility over the table */
    z-index: 2; 
  }