.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 0px;
  }
  
  h6 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .form-control:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 3px rgba(76, 175, 80, 0.2);
  }
  
  .form-text {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }
  
  .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      border-radius: 0px;
      width: 100%;
    }
  
  .btn-success {
    border-radius: 20px;
    width: 250px;
    background-color: #188a1c;
    border-color: #4CAF50;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-success:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      max-width: 90%; /* Adjust maximum width for smaller screens */
    }
  
    .btn-success {
      width: 100%; /* Make button full width on smaller screens */
    }
    
    @media (max-width: 576px) {
      .btn-success {
        width: 80%; /* Adjust button width for smaller screens */
      }
    }
  
    @media (max-width: 576px) {
      .btn-container {
        margin-top: 10px; /* Reduce margin-top for smaller screens */
      }
    }
  }
  