/* forgetPassword.css */

/* Base styles */
.form {
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 300px;
  height: 400px;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}
