/* Login.css */

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .con {
    width: 300px;
    height: 400px;
   
  }
  
  @media (max-width: 576px) {
    .con {
      width: 90%;
      margin: auto;
    }
  }
  