/* resetPassword.css */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height of the container */
}

.con {
  width: 80%; /* Adjust the width of the container */
  max-width: 400px; /* Set a maximum width */
  height: auto; /* Allow the height to adjust based on content */
  margin-top: 6rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 1.5rem; /* Adjust the margin-top as needed */
}
